.attribution 
{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}
html, body 
{
    height:100%;
}
body 
{
    margin:0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
}
.drawers 
{
    border-radius: 10px 0px 0px 10px;
    height:100%;
    width: 100%;
    object-fit: cover;
}
main 
{
    border-radius: 20px;
    background-color: white;
    width:50%;
    display: flex;
    font-family: 'Manrope', sans-serif;
}
.info 
{
    width: 60%;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.img 
{
    width:40%;
}
h2 
{
    font-size: 1rem;
    color:hsl(217, 19%, 35%);
}
p 
{
    line-height: 1.5em;
    color:hsl(214, 17%, 51%);
    font-size: 0.7rem;
}
.imgMichelle 
{
    border-radius: 100%;
    width:2em;
    height: 2em;
    align-self: center;
}
.michelle 
{
    display: grid;
    grid-template-columns:50px 1fr 1fr;
}
h4, h5 
{
    margin: 0;
    font-size: 0.7em;
}
h5 
{
    color: hsl(212, 23%, 69%);
}
.name 
{
    align-self: center;
}
.share
{
    padding: 0.5em;
    border-radius: 100%;
    background-color: hsl(213, 19%, 88%);
    justify-self: end;
    align-self: center;
}