.attribution 
{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}
html, body 
{
    height:100%;
}
body 
{
    margin:0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
}
.drawers 
{
    border-radius: 10px 0px 0px 10px;
    height:100%;
    width: 100%;
    object-fit: cover;
}
main 
{
    border-radius: 20px;
    background-color: white;
    width:50%;
    display: flex;
    font-family: 'Manrope', sans-serif;
}
.info 
{
    width: 60%;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.img 
{
    width:40%;
}
h2 
{
    line-height: 1.5em;
    font-size: 1rem;
    color:hsl(217, 19%, 35%);
}
p 
{
    line-height: 1.6em;
    color:hsl(214, 17%, 51%);
    font-size: 0.7rem;
}
.imgMichelle 
{
    border-radius: 100%;
    width:2em;
    height: 2em;
    align-self: center;
}
.michelle 
{
    display: grid;
    grid-template-columns:50px 1fr 1fr;
    position: relative;
}
h4, h5 
{
    margin: 0;
    font-size: 0.7em;
}
h5 
{
    color: hsl(212, 23%, 69%);
}
.name 
{
    align-self: center;
}
.share
{
    padding: 0.5em;
    border-radius: 100%;
    background-color: hsl(213, 19%, 88%);
    justify-self: end;
    align-self: center;
}
.icono
{
    width:15px; 
    height: 15px;
}
.shareLogos 
{
    display: none;
    
} 
.shareLogos h4 
{
    display: inline;
    color: rgb(209, 200, 200);
    letter-spacing: 2px;
    margin-right: 1.3em;
    
}
.appear 
{
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    gap:10px;
    padding: 0.5em;
    background-color: hsl(217, 19%, 35%);
    position: absolute;
    top:-40px;
    right:-50px;
    animation-name: appear;
    animation-duration: 1s;
}
@keyframes appear {

   
        from {opacity: 0;}
        to {opacity: 1;}
     
  }

 @media (min-width:1600px)
 {
    h2 
    {
        font-size: 1.5rem;
    }
    p 
    {
        font-size: 1rem;
    }
    .imgMichelle
    {
        width: 3em;
        height: 3em;
    }
    h4, h5 
    {
        font-size: 1rem;
        margin-left: 1em;
    }
}
@media(min-width:601px) and (max-width:1000px)
{
    main 
    {
        width:70%;

    }
    h2, p 
    {
        font-size: 1.5rem;
    }
    .imgMichelle 
    {
        width:5em;
        height: 5em;
    }
    h4,h5 
    {
        margin-left: 3em;
        font-size: 0.9rem;
    }
    .share 
    {
        width:1.5em;
        height: 1.5em;
    }
}